body {
  background-color:#7FFFD4; 
  font-family:'Sawarabi Gothic', sans-serif;
  width:100%;
  margin:auto;
}

header {
  text-align:center;
}

table {
  font-weight:30px;  
  table-align:center;
  border-collapse: collapse;
  border-width:3px;
  border-style:dashed;
  border-color:#FFFFFF;
}
