body {
  background-color:#7FFFD4; 
  font-family:'Sawarabi Gothic', sans-serif;
  width:960px;
  margin:auto;
}

header {
  text-align:center;
}

table {
  font-size:30px;  
  border-width:3px;
  border-style:dashed;
  border-color:#FFFFFF;
}

