body {
  background-color:#7FFFD4; 
  font-family:'MS 明朝',MS Mincho,serif;
  width:960px;
  margin:auto;
}

header {
  text-align:center;
}

table {
  font-weight:25px;  
  table-align:center;
  border-width:3px;
  border-style:dashed;
  border-color:#FFFFFF;
}
